@charset "UTF-8";

@media screen and (min-width: 768px) {
    #container-login {
        width: 600px;
        height: 320px;
        transition-duration: 0.3s;
    }

    #img-login {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0px 0px 20px;
    }

    #conteudo-login {
        width: 60%;
        height: 100%;
        position: absolute;
        right: 0;
    }

    #cabecalho-login, #formulario {
        max-width: 300px;
    }

    .campo-dados {
        width: 260px;
    }
}

@media screen and (min-width: 992px) {
    #container-login {
        width: 700px;
        height: 400px;
    }

    #img-login {
        width: 40%;
    }

    #conteudo-login {
        width: 60%;
        padding: 40px;
    }

    .container-dados {
        margin-bottom: 20px;
    }

    #botao-entrar {
        margin: 20px auto;
    }
}