@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: 'Montserrat', sans-serif;
    --cor1: #145064;
    --cor2: #238DB0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor1);
    font-family: var(--fonte);
}

#container-login {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000050;
    transition: 0.3s;
}

#img-login {
    height: 30%;
    background: url(../imagens/fundo-640x427.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

#conteudo-login {
    height: 70%;
    padding: 20px;
}

#cabecalho-login {
    margin: auto;
    margin-bottom: 20px;
}

#cabecalho-login h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 10px;
}

#formulario {
    margin: auto;
}

.container-dados {
    margin-bottom: 10px;
}

#formulario label {
    cursor: pointer;
}

.material-symbols-outlined {
    color: var(--cor1);
    font-size: 1.5em;
}

.campo-dados {
    width: 220px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid var(--cor1);
    border-radius: 5px;
    font-family: var(--fonte);
    font-size: 1em;
}

#botao-entrar {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--cor1);
    color: #ffffff;
    font-family: var(--fonte);
    font-size: 1em;
}

#botao-entrar:hover {
    background-color: var(--cor2);
    box-shadow: 0px 0px 5px #00000050;
}

a {
    color: var(--cor1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#esqueci {
    text-align: center;
}